.chat-header {
  padding: 50px 27px 10px 27px;

  display: flex;
  align-items: center;

  background-color: #f4f4f4;
}

.chat-header__column:first-child {
  margin-right: auto;

  color: var(--red);
}

.chat-header__column:last-child {
  margin-left: auto;
}

.chat-header__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-header__column i {
  position: fixed;
  top: 68px;
  font-size: 25px;
}

.chat-header__column img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;

  border-radius: 50%;
}

.chat-screen {
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  width: 100%;
  margin-bottom: 11px;
}

.date-info {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--gray);
}

.date-info span:first-child {
  margin-bottom: 3px;
}

.content {
  display: flex;
  flex-direction: column;
}

.send,
.receive {
  width: max-content;
  padding: 10px 10px;
  margin-bottom: 3px;
}

.send {
  align-self: flex-end;

  color: white;
  background-color: var(--red);
  font-size: 18px;
  border-radius: 100px 0 100px 100px;
}

.send--80 {
  background-color: rgba(185, 21, 21, 0.9);
}
.send--90 {
  background-color: rgba(185, 21, 21, 0.95);
}

.receive {
  align-self: flex-start;

  background-color: #e9e9e9;
  font-size: 18px;
  border-radius: 0px 100px 100px 100px;
}

.enter {
  width: 100%;
  padding: 14px 16px;
  box-sizing: border-box;

  display: flex;

  align-items: center;

  position: fixed;
  bottom: 0;
}

.enter-plus {
  width: 40px;
  height: 40px;
  margin-right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e8e9ec;
  color: #7d7f86;
  border-radius: 50%;
  font-size: 20px;
}

.enter input {
  width: 100%;
  height: 40px;
  padding-left: 14px;

  border: 1px solid #e8e9ec;
  border-radius: 30px;
  font-size: 18px;
}
