.nav {
  width: 100%;
  padding: 15px 0;

  position: fixed;
  bottom: 0;

  background-color: white;
  border-top: 1px solid #e9e9e9;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  position: relative;
}

.nav__link img {
  width: 40px;
  height: 40px;

  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.nav__rou img {
  filter: none;
}

.nav__chat img {
  filter: none;
}

.nav__find img {
  filter: none;
}

.nav__more img {
  filter: none;
}

.nav__link:hover img {
  filter: none;
}

.nav__noti {
  position: absolute;
  left: 28px;
  bottom: 28px;
  z-index: 1;
}

.nav__dot {
  width: 3px;
  height: 3px;

  position: absolute;
  left: 40px;
  bottom: 35px;
  z-index: 1;

  background-color: var(--red);
  border-radius: 50%;
}
