.profile {
  margin-bottom: 12px;

  justify-content: space-between;
}

.profile,
.profile__column {
  display: flex;
  align-items: center;
}

.profile--chat {
  margin-bottom: 20px;
}

.profile__column:last-child {
  flex-direction: column;
  align-items: flex-end;
}

.profile__column__avatar {
  width: 65px;
  height: 65px;
  margin-right: 12px;

  border-radius: 27px;
}

.profile__column__title {
  margin-bottom: 10px;

  font-size: 22px;
  font-weight: 400;
}

.profile__column__subtitle {
  color: var(--gray);
  font-size: 16px;
  font-weight: 300;
}

.profile__column__avatar--lg {
  width: 70px;
  height: 70px;
  margin-right: 12px;

  border-radius: 29px;
}

.profile__column__title--lg {
  font-size: 24px;
  font-weight: 500;
}

.profile__column__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 12px;
}

.profile__column__title--sm {
  font-size: 20px;
}

.profile__column__status {
  font-size: 16px;
  font-weight: 300;
}

.profile__column__time {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 300;
}
